body, html {
    margin: 0;
    padding: 0;
     /* height: 100%;  */
}

.left-pink-box {
    width: 20%;
    /* height:auto;  Full viewport height */
    background-color:darkblue;
    position: fixed; /* Fixes the box to the left side */
    top: 0;
    left: 0;
    padding:20px 20px;
}

.box-photo{
    /* width:10%; */
    /* height:10px; */
    /* height:20px; */
    align-items: center;

}

.box-photo img{
    width:30%;
    height:40%;
}

.Text h2{
    color:white;
    font-size: 20px;
    border-bottom:2px solid white;
    text-transform: uppercase;
}

/* contact Me page */
.contactMe {
    font-size: 18px; /* Adjust the font size as needed */
}

.contactMe a {
    font-size: 10px;
    text-decoration: none;
    color: black; /* Set the color of the link */
    display: flex;
    align-items: center; /* Align the icon and text */
}

.contactMe i {
    margin-right: 8px; /* Space between icon and text */
}

.Text h3{
    font-size:15px;
    font-weight: 300; 
}
.Text p{
    font-size:11px ;
    margin:0px;
    color:whitesmoke;
}

.Text h3 p {
    color:white;
}

/* language-section css */
.language-section {
    width: 35%;
    /* background-color: #34495e; */
    /* padding: 20px; */
    border-radius: 8px;
}

.language-section h2{
    margin-top: 0; 
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* border-bottom: 2px solid #ffffff; */
    padding-bottom: 10px;
    border-bottom:2px solid white;
    color:white;
}


.language {
    display: flex;
    align-items:left;
    margin-bottom: 15px;
}

.language span {
    flex: 1;
    font-size: 16px;
    color: white;
    
}

.proficiency {
    display: flex;
    padding-left: 10px;
}

.proficiency i {
    font-size:10px;
    color: white;
    margin-right: 5px;
}

.proficiency i.filled {
    color: #ecf0f1;
}