/* Global scope */
*{    
    margin:0px;
    padding:0px;
}

/* body of my css */
body{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size:16px;
    font-style: normal;
    color:black;
     background-color: whitesmoke; 
  }
  
/* primarily declared headings and paragraph */
h1 { font-size: 3.986rem; }
h2 { font-size: 2.488rem; }
h3 { font-size: 1.074rem; }
h4 { font-size: 1.728rem; }
h5 { font-size: 1.44rem; }
h6 { font-size: 1rem; }
p { font-size: 0.8rem; }


h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
}

p, li {
    font-family: "Poppins", sans-serif;
}
  
a{
    text-decoration: none;
}


.navbar {
    font-size :17px;
font-weight: 500;
font-family: "Inter",sans-serif;
}  



.navbar-nav .nav-link.active {
    color:grey !important;

}

a.nav-link.active.hide{
    color: blue !important;
}


.navbar-brand .hidden_element{
    font-size: 24px;
    font-weight:400;
}


.navElements ul {
    list-style-type: none;
}
  
li:hover{
    /* border: 1px solid lightgrey; */
    border-radius: 12px;
    color:black;
    background-color:lightgrey;
    position:relative;
    transition: smooth 0.3s ease;
}

 ul{
    display:flex; 
}

i .fa-solid .fa-greater-than{
    list-style-type: none;
    text-decoration: none;
}

.Request {
    color:#4b5de7;
    font-weight: bolder;
    /* font-size: 16px; */
}

.Request :hover{
    font-weight: bolder;
    /* font-size: 17px; */
    transition: smooth 0.3s ease;
    border: 3px solid lightgrey;
    border-radius: 12px;
    color:black;
    background-color: lightgrey;
}


.Home_page{
    /* height:100vh; */
    background-color:whitesmoke;
}

.Text{
    padding:50px 0; 
     display:flex;
    justify-content: center;
    align-items: center; 
    height: 85vh;    
} 


.Text1{

    text-align: center;
    font-weight:400;
    font-family: "Roboto", sans-serif;
    font-size: 90px;
    line-height: 90px;
    text-align :center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, #11181c 20%, rgba(17, 24, 28, 0) 45%), linear-gradient(90deg, #0f3058 0%, #006adc 33.333%, #11181c 50%, #11181c 100%);
    background-size: 300% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 1.8s ease backwards;
    animation: intro-gradient 1.8s ease backwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    
}



.Text2{
color:rgb(104, 112, 118);
text-align:center;
font-family: sans-serif;
font-size :px;
font-weight: 300;
letter-spacing: 0.2px;
line-height: 30px;
margin-top: 20px;
}



.ProjectRequest {
    color:rgb(0, 106, 220);
    font-weight: bolder;
    font-family:"Inter", sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size :22px;
    font-weight:500;
    line-height :24px;  
}

  .Prp:hover{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: smooth 0.3s ease;
} 


.Prp{
    text-align:center;
    margin-top:30px;
    text-decoration: none;
    color:rgb(0, 106, 220);
}


/* my Intro page with my image */
.Intro_page{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
    margin:auto;
    padding:50px 0px;
}

.Intro_page img{
     width:100%;
     vertical-align: middle;
     object-fit: cover;
     border:2px solid transparent;
     border-radius:25px;
}


/* image linear gradient */
.gradient-background{
background-color: #DBD7D2;
}

.image_gradient_color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .gradient-border {
    position: relative;
    width: 330px; 
    height: 393px; 
    }
  
  
   .gradient-border::before {
    content: '';
    position: absolute; 
     top : -30px ;
     left: -30px; 
     width: 370px; 
     height: 490px; 
    background: conic-gradient(
      from 180deg at 50% 50%, 
      #0aefff -69.37deg, 
      #0f83ff 31.88deg, 
      #b056e7 120deg, 
      #ff9966 204.37deg, 
      #0aefff 290.63deg, 
      #0f83ff 391.87deg
    );
    border-radius: 20px; 
   opacity: 0.5; 
     z-index: 1; 
     filter: blur(80px);
     transform: translateZ(0)
   } 
  
   .gradient-border img { 
    display: block;
    width: 330px;
    height: 393px;
     position: relative; 
    z-index: 1; 

   }

.Textual {
   
    text-align:left; 
    font-family: "Inter",sans-serif;
    padding:40px 40px; 
}

 .Textual h2{
width:100%;
color :rgb(17, 24, 28);
font-size :60px;
font-weight :500;
letter-spacing: -2.92px;
line-height:1.30;
}


.Textual h6{
color: rgb(104, 112, 118);
font-weight:500; 
font-size: 15px;
font-style: normal;
opacity:1;
}


/* next class i.e. Work assigned */
.Work{
    margin-bottom:0;
    text-align: center;
    margin-top:4.125rem;  
}

.Work h2{
    font-family: "Inter";
    font-size:44px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.03em;
}

.Card{
    border: 2px solid transparent;
    border-radius:8px;
    width:35%;
    margin:30px 30px;
}


/* Specifying Card image background color to linear gradient */

.Card.a .image{
    
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.Card.b .image{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

    .Card.d .image{
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }

.Card.c .image{
 background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}


#WorkSection{
    background-color:whitesmoke;

}


    .card-box{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;  
    }
    

    .image{
        overflow: hidden;
        flex-wrap:wrap;
        padding-top:12px;
        padding-right:20px;
        padding-left:20px;
        padding-bottom: none;
        border:2px solid transparent;
        border-radius: 8px;
        /* width:calc(50%-30px); */
        /* height:15rem; */
        transition:transform 0.3s ease;
  }


.image img{
width:100%;
height: 14rem; 
transition: transform 0.5s ease;
border:1px solid transparent;
border-radius: 8px;
    }

.image:hover img
{
 transform: scale(1.15);
}
    
    .moreProjects{
        text-align: center;
    }

    .moreProjects a{

        color:rgb(0, 106, 220);
        text-decoration: none;
        list-style-type: none;
        font-size: 20px;
        font-family:"Inter";
        font-weight:500;
    }

    .moreProjects a:hover{
       border:7px solid lightgrey;
       border-radius:10px;
       background-color:lightgrey;
        /* margin:60px 60px; */
        font-family: "Lato";
        transition: smooth 0.3s ease;
    }

    #BenefitsSection{
        background-color: whitesmoke;
    }

    /* What my clients are saying */
    .Clients{
       text-align: center;
       margin-top:10rem;
       margin-bottom:3rem;

    }

    .Clients h2{

        font-family: "Inter";
    font-size:44px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -.03em;
    }

    
.Feedback{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:50px 30px;
    gap:40px;
    
    
}

.Clients-Feedback{
border:2px solid transparent;
border-radius: 8px;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adding shadow */
width:30%;
margin-bottom:20px; 
padding: 200px 200px;
letter-spacing:-0.22px;
font-family: "sans-serif", serif;
font-size: 30px;
font-weight :400;
text-size-adjust :100%;
padding: 40px 40px;

background-color: white;

    }

  .comments{
border:2px solid transparent;
border-radius: 8px;
width:82px;
padding-bottom: 24px;
/* margin:20px; */
    }

    .comments img{
    width:100%;
    /* height:80px; */
    border:2px solid transparent;
    border-radius: 8px;
    /* padding:0 0 20px 0px; */

    }

    .comments-a p{
        /* margin:30px; */
        font-family: "sans-serif", serif;
        font-size: 23px;
        font-weight :500;
        letter-spacing :-0.20px;
        line-height: 30px;
        /* margin-bottom: 50px; */

    }



    .Foott{ 
     font-family: "poppins";
     line-height: 2.4px;
    }


    .Foott h6{
        font-size: 18px;
        font-weight :500;
        line-height :24px;
        text-size-adjust :100%;  
    }

.Foott p{
 color:rgb(112, 116, 120);
 font-size: 15px;    
font-weight :500;
line-height :4px;
text-size-adjust :100%;
unicode-bidi :isolate;
}

.logoo{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:30px 0px;
}


.foot-grp1{
   padding:20px 20px;
   justify-content: center;
   font-family:"Inter";
   font-size:40px;
   background: rgb(179,52,113);
background: linear-gradient(45deg, rgba(179,52,113,1) 0%, rgba(48,50,51,1) 0%, rgba(0,0,0,1) 20%, rgba(46,32,37,1) 30%, rgba(71,49,58,1) 50%, rgba(26,27,27,1) 71%);

}



.foot-grp1 h2{
    color: rgb(236, 237, 238);
    text-align: center;
    font-size: 60px;
}


.description h2{
    text-align: center;
    padding:40px 0px;
}  


.Why_us_box{
    padding-bottom:40px;
}
.rounded{
    border: 1px solid  grey;
    color :grey;
    background-color: black;
}



.p-3 .rounded .text-center{
    display: flex;
    text-align: center;    
}

.rounded p{
    margin:none;
   color: rgb(155, 161, 166);
}


.d-flex .rounded{
    background-color: black;
}


  .rounded  h5{
/* font-size:36px; */
font-weight: 400;
color: rgb(236, 237, 238);
}


.rounded h4{
  color:rgb(236, 237, 238);
} 

#ProcessSection{
    background-color:#ECEAE8;
}

.webflow h2{
    /* padding: 48px 20px; */
    /* padding:20px 20px; */
text-align: center;
margin-top: 82px;
margin-bottom: 30px;
    font-family :"Inter Display", sans-serif;
    font-weight: bolder;
    font-family: "Lato";
    padding-top: 44px;

}

.col-6 .col-3{
    font-family: "Lato";
}


  
  .full{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:30px;
    width:96%;
    margin: auto;
    padding:46px; 
}


   
.Enrollment{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.307);
    border:3px solid transparent;
    border-radius:5px;
    width:40%;
    padding:30px 30px;
    text-overflow: ellipsis;
    display:flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    font-family: "Inter";
    background-color :rgb(255, 255, 255);
    border-bottom-color: rgb(236, 238, 240);
     
    
}

.numbering{
    padding:30px 25px 30px 0px;
    color :rgb(104, 112, 118);
    font-family: "slab-serif";

}



.project-1 h2{
    font-size:22px;
    font-weight: 500;


}

.project-1 p {
color :rgb(104, 112, 118);
cursor: none;
display: block;
font-family :"Lato";
font-size :15px;
letter-spacing: 0.10px;
line-height :25.5px;
}


.Asked-Qns{
    background-color: white;
    /* margin-bottom:30px; */
}




.Faq_item{
    /* padding:60px 200px; */
    width:50%;
    margin:auto;
    /* align-items: center; */
    
}

.Questions h4{
    font-size: 60px;
    font-weight:500;
    /* padding:20px 200px; */
    text-align: center;
    font-family: "lato";
    margin-top: 5rem;
    margin-bottom: 0;
}



.accordion-button  {
    background-color: transparent; 
    color: inherit; 
    font-weight:600;
    font-size:20px;
    font-family:"lato";
    letter-spacing :-0.11px;
    
}

.accordion-button:not(.collapsed) {
    background-color: transparent; 
    color: inherit; 
    font-family: "Inter";
}

.accordion-button:focus {
    box-shadow: none; 
}


 .accordion-body{
height :auto;
max-width: 748px;
color:gray !important;
font-family: sans-serif;
letter-spacing: 0.17px;
line-height: 23.375px;
padding-bottom :12px;
padding-top: 4px;



}

.accordion-item{
    align-items: center;
    appearance:button;
    background-color: white;
    padding:5px;
    font-optical-sizing :auto; 
    border-top: none;
    border-left: none;
    border-right:none;
}

.FAQ{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.last-card{
    border:3px solid transparent;
    border-radius: 4px;
    font-family: "Inter";
    /* margin:auto; */
    margin:5rem auto;
    width:95%;
    padding:7rem 7rem;
    text-align: center;

    background-image: url("https://cdn.prod.website-files.com/6279077bf697b924fac6e205/62f3c2a8b9b8314b4a29fc04_bottom-bg.webp");

}

.Text-form a{
color:white;
font-size: 20px;
margin-top:24px;
font-weight: bolder;
/* display:inline-flex; */
align-items: center;
text-decoration: none;

}

.Text-form a:hover{
    border:4px solid grey;
    background-color:grey;
     border-radius: 3px;
     transition: smooth 0.3s ease;
     color: white;
     transition: smooth 0.3s ease;
     
     

}

 .Text-form h2 {
    font-size: 64px;
    font-weight:500px;
    color:white;

}

.bottomcard{
    background-color:#e5e4e2;

}

.carddd{
    gap: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    transition-duration: 0.2s;
transition-property:box-shadow;

}

.Cards{
   
    border-radius:10px;
    margin-top:30px;
    width:40%;
    margin: 3rem auto;
    /* height:13rem; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-family: "Inter";
    border: 2px solid #eceef0;
    background-color:#f8f9fa;
    transition:box-shadow .2s;
    overflow: hidden;
    
}

.card22{

    width:40%;
    object-fit: cover;
    overflow: hidden;

}

.card22 img{
width:100%;
border:1px solid transparent;
border-radius:none;
box-shadow: #11181c;   

}

.card-again{
    padding: 20px 20px;
}

.card-again a:hover{
    color:red;

}


.card-again p{
    color : rgb(104, 112, 118);
    font-size : 16px;
}

.card-again h4{
    font-size: 27px;
    /* letter-spacing: -.01em; */
} 

.last h5{
color :#4b4d4f;
cursor :none;
font-family:"Lato";
font-size: 13px;
padding:5px 10px; 

}

.right-footer{
    text-decoration: none;
    font-family: "slab-serif";
}

.right-footer ul {
list-style-type:none;
}

.right-footer a{
    padding:5px 10px; 
    text-decoration: none;
    list-style-type: none;
    color:#4b4d4f;
    font-size: 13px;
   
}

.right-footer a:hover{
border:1px solid lightgrey;
border-radius:10px;
background-color:lightgrey;
transition: smooth 0.3s ease;

}

.last-footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:32px;
    
}

.last{
    padding:5px 10px;
    text-decoration: none;
    list-style-type: none;
    color:rgb(104, 112, 118);

}

.side_by_side{
    display:flex;
    justify-content:left;
    text-align: left;
    line-height: 2;

    /* border-radius:5px; */
    
}

.side_by_side i {
    margin-right:10px;
    /* width:10%; */
    color:black;
}
.side_by_side i:hover{
    color:red;
}

 .side_by_side a{

    color:black;
} 

 .side_by_side a:hover{
    width:100%;
    /* border:1px solid grey;
    border-radius:5px; */
    color:red;
    /* background-color: lightgrey; */
    font-weight: 500;
    /* font-size: 15px; */
} 



@media(max-width:500px) {
    *{
        margin: 0;
        padding: 0;
    }
    .Feedback{
        display: block;
        width: 95%;
        padding: 0;
        margin:auto;
    }
    .Clients-Feedback{
        width: 100%;
    }
    .navElements ul{
        display: none;
    }

/* recently added  can be deleted*/
    .Text1{
     padding-top:36px ;
    font-weight:400;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    line-height:50px;
    }
    
.last-card{
    padding:0 0 ;
}

.rounded h4{
    font-size:20px;
}
 
.rounded p{
font-size: 8px;
}

.rounded h5{
    font-size: 15px;
    text-align: center;
}

.Text2{
    font-size:10px;
    letter-spacing: 0.2px;
    line-height: 16px;
}

.Request{
    font-size: 10px;
}

.navbar h4{
    font-size: 10px;
}

.navbar{
    justify-content:space-around;
}

.Textual h2{
    font-size:30px;
    font-weight: 500px;
}

.Textual h6{
    font-size: 10px;
}

.comments-a p{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 26px;

}

.carddd{
    display:flex;
    flex-direction: column;
}

.Cards{
    width:100%;
    margin-top:2rem;
    margin-bottom:1rem;
}
}
 



@media(max-width:953px){
    .card-box{
        display: block;
    }
    .Card{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .image img{
        object-fit: cover;
    }
    .moreProjects{
        margin-top: 0;

    }
    .Clients{
        margin: auto;
    }
    .Feedback{
        display: block;

    }
    .Clients-Feedback{
        width: 100%;
    }
    .full{
        width: 80%;
        margin: auto;
    }
    .Enrollment{
        width: 100%;
    }
    .Questions{
        width: 80%;
        margin: auto;
        padding: 0;
        font-size: 40px;
    }
    .Questions h4 {
        font-size:50px;
        font-weight: 500;
        padding:10px;
        text-align: center;
        /* margin-top: 8rem; */
    


    }
    .Faq_item{
        width: 90%;
        margin: auto;
    }
    .last-card{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .carddd{
        width: 90%;
        margin: auto;
    }

    .navElements ul{
        display: none;
    }
}


  

  @media(min-width:501px) and (max-width:695px){
    .Textual h2{
    width: 70%;
    margin:auto;
    font-size: 51px;
    font-weight: 500;
    letter-spacing: -0.92px;
    line-height: 1.2;

}

.Textual h6{
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    opacity: 1;
    width:80%;
    margin:auto;
    padding-top:20px;
}

.Text2{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 25px;
}
.moreProjects{
    margin-bottom: 20px;
}

.carddd{
    display:flex;
    flex-direction: column;
}

.Cards{
    width:90%;
    margin: auto;
}

    }
  

    
    @media(min-width:576px) and (max-width:992px)
    {
        .box1{
            margin-top: 22px;
        }

    
    }

/* navbar enable and disable using bootstrap */
    
    
    @media (max-width: 992px) {
        
         
       .disable{
    display: none;
      }
      
        .navElements {
            display: flex; /* Show regular nav elements   */
        }

    } 
       
      
      /* Basic styling for the hamburger button */

       /* Mobile Navigation  */

       /* Hide dropdown by default */



@media (min-width:400px) and (max-width:993px){
    .nav-link.active.hide{
        display:none;
        }

        
        .navbar-toggler{
            border: none;  /* Removes the border  */
            outline: none;  
        }


         i .fa-solid .fa-greater-than{
            list-style-type: none;
            text-decoration: none;
        }


        
        .nav-link .when_hovered{
        padding:none !important;
        font-size: 12px !important;
        font-weight: 400;
        }

        .active .custom-text-color .when_hovered{
            list-style-type: none;
            text-decoration: none;
        }


     .nav-item .new{
            width:15%;
            text-align: center;
            justify-content: left;
            transition: smooth 0.3s ease;

        }

        
       a.navbar-brand.edit{
        font-size: 18px;
        font-weight: 500;
        /* padding:20px 200px; */
       } 
 
        .hidden_element{
        display:none;
       } 

    

    .navbar-toggler {
        border: none; /* Remove the border */
        outline: none; /* Remove the outline */
    }
    

.navbar-toggler:hover,
.navbar-toggler:focus {
    border: none; /* Ensure border is not shown on hover */
    outline: none; /* Ensure outline is not shown on focus */
    box-shadow: none; /* Optional: Remove box shadow if any */
}

.custom-text-color{
color:blue !important;
}


.d-flex {
width:100%;
justify-content: space-between;
}

.navbar-nav .nav-link.active{
    color:green !important;
    font-size: 17px;
}


li{
    align-items: center;
    font-weight: 400;
    /* padding:5px; */
}
li:hover {
width:15%;
/* text-align: center; */

}

a .Prp{
    font-size: 12px;
}

 .Text{
    height:100vh;
     padding: 77px 0}  ;
     
    
}


    @media screen and (max-width:994){
        .disable{
            display:none;
        }

        .hidden_element{
            display:none;
           } 
    
           
    }




@media(min-width:300px) and (max-width:991px){
    .gap1{
        margin-top: 20px;
    }
}

@media(min-width:500px) and (max-width:696){
  .gapping {
    margin-top:20px;
   }
}



/* new code for image slider */

/* for css animation  using @keyframes*/

@keyframes slide {
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }

}


.slider{
    overflow: hidden;
    padding:15px 0;
    background-color: white;
    white-space: nowrap;
    position:relative;
 

/* before after is not used properly since we havent used  */
/* .slider:before ,
.slider:after 
{
    position:absolute;
    top:0;
    left:0;
    width:250px;
    height:100%;
  background:white;
    content:"My Skills";
    display: flex;
    justify-content: center; /* Center horizontally 
    align-items: center; 
    color:black;
    font-size: 20px;
    font-weight: 500;
    z-index: 2;
} */

.slider:before{
   left:0;
   background:linear-gradient (to left, rgba(255,255,255,0),white);
}

.slider:after{
    right:0;
    background:linear-gradient (to right , rgba(255,255,255,0),white);
    
}


.slider:hover .logos_slide{
animation-play-state:paused;

}

.logos_slide{
    animation:30s slide infinite linear;
    display:inline-block;
    

}

.logos_slide img{
    height:40px;
    margin:0 40px;
}
}


       

         

    
     
    
    
    
    
    
    
    

    
    
    
    
     
